#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit{
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;

    &:hover{
        background-color: transparent !important;
        color: orange !important;
    }
}
.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(223, 42, 25);

    &:hover {
        background-color: transparent !important;
        color: rgb(223, 42, 25) !important;
    }
}

.btn-detail{
    width: 50px;
        border: none;
        outline: none;
        background: transparent;
        color: rgb(7, 83, 164);
    
        &:hover {
            background-color: transparent !important;
            color: rgb(7, 83, 164) !important;
        }
}

.model-container{
    .modal-content{
        .modal-header{
            button {
                background-color: transparent !important;
                color: #ddd;
                border: none;
                font-size: 27px;
            }
        }
    }
    .model-body{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        
        .input-container {
            display: flex;
            flex-direction: column;
            width: 49%;

            &.max-w-input {
                width: 100%;
            }
        
            input {
                border-radius: 3px;
                height: 30px;
                border: 1px solid gray;
                outline: none;
                padding: 0 10px;
        
            }
        }
        
    }
    
}