.preview-img-container{
    display: flex;
    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        width: 140px;
        height: 33px;

        &:hover {
            background: rgb(176, 176, 176);
        }
    }
    .preview-img{
        padding: 5px;
        text-align: center;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        width: 230px;
        height: 33px;
        margin-left: 15px;
        &:hover {
            background: rgb(176, 176, 176);
        }
        &.active{
            background-color: orange;
        }
    }

}


